.bday-message {
    background-color: rgb(50, 0, 107);
    color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 5%;
    font-size: 8vw;
    font-weight: bold;
    top: 25%;
    left: 25%;
    width: 50%;
    z-index: 999;
    text-align: center;
    float: left;
}

.bday-submsg {
    background-color: rgb(50, 0, 107);
    color: rgb(255, 255, 255);
    font-size: 4vw;
    z-index: 999;
    text-align: center;
    float: left;
}